/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  background-color: #e6ffe6;
  color: #009999;
  text-align: center;
}
h3 {
  padding: 0 0 2rem;
  font-size: 3rem;
}
h4 {
  padding: 0.8rem;
}
ul {
  padding: 2rem;
}
li {
  display: inline;
  padding: 0 4rem;
}
li:hover {
  font-weight: bold;
  cursor: pointer;
}
span {
  font-size: 1.5rem;
  background-color: ivory;
  color: #009999;
  border-radius: 5px;
  padding: 0.2rem 0.7rem;
  margin: 0.2rem 0.5rem;
}
a {
  text-decoration: none;
  color: ivory;
  background-color: #009999;
  border-radius: 5px;
  padding: 0.4rem 0.6rem;
  margin: 0 0.5rem;
}
/* HEADER */
#header {
  height: 30vh;
}
.header__title--main {
  font-family: "Calligraffitti", cursive;
  font-size: 4rem;
  padding: 3rem 2rem 0;
}
.header__nav--list--item {
  text-decoration: none;
  color: #009999;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
/*ABOUT*/
#about {
  background-color: ivory;
  padding: 5% 5%;
  height: 70vh;
}
.about__container--top {
  width: 70%;
  display: flex;
  margin: 0 auto;
}
.about__text {
  width: 70%;
  padding: 0 5%;
}
.about__image {
  width: 30%;
}
.about__image img {
  width: 15rem;
  border-radius: 10px;
}
.about__text--skills {
  display: flex;
  margin: 2rem auto;
}
.about__text--tools {
  position: relative;
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  background-color: #e6ffe6;
  border-radius: 10px;
}
.about__text--title {
  padding: 0 0 3rem;
}
/* PROJECTS */
#projects {
  background-color: #e6ffe6;
  padding: 5% 10%;
}
.project {
  display: flex;
  padding: 4rem 2rem;
}
.project__image {
  width: 50%;
}
.project__image img {
  width: 40rem;
  border-radius: 10px;
  box-shadow: 2px 1px 7px rgba(0,0,0,0.3);
}
.project__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 5rem;
}
.project__text--title {
  padding-bottom: 1rem;
}

.project__text--tags {
    margin: 0 auto 2rem;
    display: flex;
    flex-wrap: wrap;
}
/* CONTACT  */
#contact {
  background-color: ivory;
  padding: 3% 5%;
}
.contact__container {
  padding: 3rem 0;
}
.contact__link {
  color: #009999;
  margin: 1rem 2rem;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}
/* FOOTER  */
#footer {
    padding: 3% 5%;
  background-color: #e6ffe6;
}
.footer__text {
  font-size: 1.4rem;
}
/* MEDIA QUERIES  */
@media only screen and (max-width: 1000px){
  html {
    font-size: 60%;
  }
  #about {
    padding: 5% 3%;
  }
  .about__container--top {
    width: 85%;
  }
  #projects {
    padding: 5% 4%;
  }
  .project__text {
    padding: 0 1rem 0 3rem;
    width: 55%;
  }
  .project__image {
    width: 45%;
  }
  .project__image img {
    width: 30rem;
  }
}
@media only screen and (max-width: 800px){
  .about__container--top {
    width: 90%;
  }
  .project {
    flex-direction: column;
    margin: 0 auto;
  }
  .project__text,
  .project__image {
    margin: 0 auto;
  }
  .project__text {
    padding: 0 1rem;
    width: 65%;
  }
  .project__image {
    padding-bottom: 2rem;
    width: 40rem;
  }
  .project__image img {
    width: 40rem;
  }
  .project__text--tags {
    margin: 1rem auto 2rem;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 58%;
  }
  #about {
    height: auto;
  }
  .about__container--top {
    flex-direction: column-reverse;
    width: 100%;
  }
  .about__text,
  .about__image {
    margin: 0 auto;
  }
  .about__text {
    padding-bottom: 2rem;
  }
  .about__text--skills {
    flex-direction: column;
  }
  .about__text--tools {
    margin: 1rem auto;
    width: 75%;
  }
  .about__image {
    width: 70%;
  }
  .project__text {
    width: 90%;
  }
  .project__image,
  .project__image img {
    width: 30rem;
  }
}
