/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
  background-color: #f2f2f2;
  color: #333333;
  text-align: center;
  padding: 2.5rem;
  line-height: 1.5;
}

h3 {
  padding: 0 0 2rem;
  font-size: 3rem;
}

h4 {
  padding: 0.8rem 0;
}

ul {
  padding: 2rem;
}

li {
  display: inline;
  padding: 0 4rem;
}

li:hover {
  font-weight: bold;
  cursor: pointer;
}

span {
  font-size: 1.5rem;
  background-color: white;
  color: #009999;
  border-radius: 5px;
  padding: 0.2rem 0.7rem;
  margin: 0.2rem 0.5rem;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/*FLAGS*/
#flags {
  position: fixed;
  background-color: transparent;
  right: 0;
  top: 10vh;
}

.flag {
  z-index: 100;
  background-color: #009999;
  width: 5rem;
  height: auto;
  margin-bottom: 2rem;
  border-radius: 15px 0 0 15px;
  padding: 0.5rem 0.7rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: all .2s ease-in;
}

.flag:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}

.flag:active {
  cursor: pointer;
  transform: translateY(2px);
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.4);
}

.flag__link {
  color: white;
}

/* HEADER */
.header__title--main {
  font-size: 4rem;
  padding: 3rem 2rem 0;
}

.header__nav--list--item {
  text-decoration: none;
  color: #009999;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

/*ABOUT*/
#about {
  background-color: white;
  display: flex;
  margin: 0 auto;
  width: 85%;
}

.about__container--left {
  width: 50%;
  margin: 1rem;
  padding: 1.5rem;
}

.about__container--right {
  width: 50%;
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 1.5rem
}

.about__text--icons {
  height: auto;
}

.about__text {
  text-align: justify;
}

.about__image {
  width: 35%;
  height: auto;
  margin-right: 4rem;
  border-radius: 50%;
  shape-outside: circle();
  float: left;
}

.about__text h3 {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  text-align: left;
}

#about__contact {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0 0;
  display: none;
}

.about__text--skills {
  display: flex;
  flex-direction: column;
}

.about__text--tools {
  position: relative;
  text-align: justify;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.about__text--title {
  padding: 0 0 3rem;
}

/* PROJECTS */
#projects {
  background-color: #f2f2f2;
}

#projects h3 {
  padding: 0;
  background-color: white;
  width: 85%;
  margin: 1rem auto 0;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #f2f2f2;
  margin: 1rem auto;
  width: 85%;
}

.project__image {
  width: 50%;
}

.project__image img {
  width: 100%;
  box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.3);
}

.project__text {
  text-align: justify;
  box-sizing: inherit;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0 0 3%;
}

.project__text--title {
  padding-bottom: 1rem;
  text-align: center;
}

.project__text--link {
  display: block;
  margin: 1rem auto;
}

.project__text--link a {
  background-color: #009999;
  border-radius: 5px;
  padding: 0.4rem 0.6rem;
  margin: 0 0.5rem;
}

.project__text--tags {
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* CONTACT  */
#contact {
  background-color: white;
  padding: 1rem;
  border: 1px solid #f2f2f2;
  width: 85%;
  margin: 0 auto;
}

.contact__container {
  padding: 3rem 0;
}

.contact__link {
  color: #009999;
  margin: 1rem 2rem;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

/* FOOTER  */
#footer {
  padding: 1rem;
  background-color: white;
  border: 1px solid #f2f2f2;
  margin: 1rem;
  width: 85%;
  margin: 1rem auto;
}

.footer__text {
  font-size: 1.4rem;
}

/* MEDIA QUERIES  */
@media only screen and (max-width: 1000px) {
  html {
    font-size: 60%;
  }

  #about {
    width: 95%;
    flex-direction: column;
  }

  .about__container--left,
  .about__container--right {
    width: 95%;
    margin: 1rem auto;
  }

  .about__text--icons {
    padding: 1rem 0 1rem 1rem;
  }

  #projects h3 {
    width: 95%;
  }

  .project,
  #footer,
  #contact {
    width: 95%;
  }

  .project__text,
  .project__image {
    width: 70%;
  }
}

@media only screen and (max-width: 800px) {
  #flags {
    display: none;
  }

  #about {
    padding-right: 0;
    padding-left: 0;
  }

  #about__contact {
    display: flex;
  }

  .about__container--left,
  .about__container--right {
    width: 100%;
  }

  .project__text--tags {
    margin: 1rem auto 2rem;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 58%;
  }

  .container {
    flex-direction: column;
  }

  .left {
    border-right: none;
    width: 90%;
  }

  #about {
    height: auto;
  }

  .about__image {
    width: 45%;
  }

  .about__container--right {
    flex-direction: column;
  }

  .right {
    margin: 0 auto;
  }

  .project {
    flex-direction: column;
  }

  .project__image,
  .project__text {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
}
